* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 10vh;
}

header .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 50%;
}

header .lower {
  border-bottom: 1px solid gray;
  padding: 0 1rem;
  height: 50%;
}

header .lower ul {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

header .lower ul li {
  list-style-type: none;
  margin-left: 2rem;

  font-size: 1.2rem;
  padding: .3rem 0;
}

header .lower ul li:last-child {
  color: blue;
  border-bottom: 2px solid blue;
  transform: translateY(1px);
}


.container {
  width: 60%;
  margin: 0 auto;
}

.container section {
  margin-top: 5rem;
}

.container section p {
  margin-bottom: 1.4rem;
  color: rgb(78, 78, 78);
  line-height: 1.5rem;
  font-size: 14px;
}

.container section h3 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

section ul li li {
  list-style-type: none;
  margin-left: 2rem;
}

a {
  text-decoration: none;
}
